/* CSS Custom Color Variables */

body {
  font-family: "Quicksand", sans-serif !important;
  background: #f3f3f3 !important;
  color: #232528 !important;
}

.navbar-brand {
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  opacity: 1;
  width: 65%;
}

.navbar-brand:hover {
  -webkit-transition: all 0.25s;
  -webkit-transform: scale(1.05);
  transition: all 0.25s;
  transform: scale(1.05);
  opacity: 0.7;
}

.btn-cart {
  background: transparent;
  text-transform: capitalize;
  font-size: 1rem !important;
  color: #232528;
  border-radius: 0 !important;
  border: 2px solid #5bc0de !important;
}

.btn-cart:hover {
  background: #5cb85c !important;
  color: #f3f3f3 !important;
  border: 2px solid #5cb85c !important;
}

.figure-img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8),
    0 6px 20px 0 rgba(160, 137, 137, 0.19);
  cursor: pointer;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  opacity: 1;
  border: 0.1rem solid rgba(185, 179, 179, 0.5);
}

.figure-img:hover {
  -webkit-transition: all 0.25s;
  -webkit-transform: scale(1.01);
  transition: all 0.25s ease-in-out;
  transform: scale(0.99);
  opacity: 0.7;
}

.not-found {
  /* visibility: hidden; */
  width: 100vw;
  padding: 1rem;
  border: solid 1rem #5bc0de;
}
