/* CSS Custom Color Variables */

body {
  font-family: "Quicksand", sans-serif !important;
  background: #f3f3f3 !important;
  color: #232528 !important;
}

.btn-cart {
  background: transparent;
  text-transform: capitalize;
  font-size: 1rem !important;
  color: #232528;
  border-radius: 0 !important;
  border: 2px solid #5bc0de !important;
}

.btn-cart:hover {
  background: #5cb85c !important;
  color: #f3f3f3 !important;
  border: 2px solid #5cb85c !important;
}
